body {
    background-color: #f4f4f9; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;        
    margin: 0;          
    font-family: 'Arial', sans-serif; 
}

.login-box {
    width: 300px;              
    padding: 40px;          
    background-color: #ffffff; 
    border-radius: 12px;   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.login-box:hover {
    transform: translateY(-10px);  
}

h1 {
    text-align: center;        
    font-size: 28px;            
    margin-bottom: 30px;        
    color: #333;             
}

label {
    display: block;    
    font-size: 14px;     
    color: #555;                 
    margin-bottom: 8px;          
}

input[type="text"], input[type="password"] {
    width: 100%;             
    padding: 12px;             
    margin-bottom: 20px;         
    border: 1px solid #ddd;    
    border-radius: 6px;         
    font-size: 16px;           
    transition: border-color 0.3s ease; 
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #5f9ea0;      
    outline: none;             
}

button {
    width: 100%;           
    padding: 12px;             
    background-color: #5f9ea0; 
    color: #fff;            
    border: none;            
    border-radius: 6px;       
    font-size: 16px;           
    cursor: pointer;         
    transition: background-color 0.3s ease;  
}

button:hover {
    background-color: #4e8b88;  
}

ul {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    color: red; 
    text-align: center; 
}


.dashboard-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;              
    height: 100%;             
}

.dashboard-box {
    width: 350px;            
    padding: 40px;           
    background-color: #ffffff;  
    border-radius: 12px;      
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
    text-align: center;      
}

.dashboard-box h1 {
    font-size: 24px; 
    margin-bottom: 30px;      
    color: #333;           
}

.logout-btn {
    display: inline-block;
    padding: 12px 20px;      
    background-color: #5f9ea0; 
    color: #fff;             
    border: none;            
    border-radius: 6px;       
    font-size: 16px;          
    cursor: pointer;           
    text-decoration: none;     
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #4e8b88;
}
